/* CSS DOCUMENT */
@charset "UTF-8";

.darker-grotesque {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 500;
    font-style: normal;
}

.asta-sans {
    font-family: "Asta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #3A3A3A
}

body {
    font-family: "Asta Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    background-color: rgb(245, 245, 245);
}

header {
    font-family: "Darker Grotesque", sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9;
}

header img {
    padding: 30px;
}

nav {
    padding: 30px;
    font-size: 1.5rem;
    text-align: right;
    display: flex;
    justify-content: space-evenly;
    gap: 55px;
}

#hero {
    height: 90vh;
    background-image: url(img/textura_fondo.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

#hero h1 {
    margin-top: 30px;
    width: 900px;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
    font-size: 11rem;
    line-height: 9rem;
}

#hero h2 {
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    text-wrap: balance;
    max-width: 35%;
    font-weight: 400;
    color: whitesmoke;
    background-color: #C6ADDB;
}

#hero p {
    font-size: 1.5rem;
    max-width: 600px;
    margin-top: 50px;
    text-wrap-style: balance;
}

#hero img {
    border-radius: 200px;
}

.article {
    background-color: rgb(255, 255, 255);
}

div {
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
}

#experiencia div {
    background-color: #C6ADDB;
}

#experiencia h2 {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    padding: 20px;
    color: whitesmoke;
}

article ul {
    padding: 60px 0 90px 0;
    display: flex;
    justify-content: space-evenly;
}

article li {
    padding-top: 40px;
    width: 20%;
}

.formacion div {
    background-color: #767676;
}

.formacion h2 {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    padding: 20px;
    color: whitesmoke;
}

#proyectos {
    height: 100vh;
    background-image: url(img/textura_fondo_lila.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
    padding: 60px 0 80px 0;
}

#proyectos h2 {
    width: 900px;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
    font-size: 6rem;
    color: whitesmoke;
    text-align: center;
}

.efecto1 {
    height: 40vh;
    width: 900px;
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-image: url(img/pinacolada_fondo.jpg);
}

.efecto2 {
    height: 40vh;
    width: 900px;
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-image: url(img/travesuras_fondo.jpg);
}

.info {
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}

.efecto1:hover {
    background-color: whitesmoke;
    transition: opacity 0.3s ease-out;
    background-image: none;
}

.efecto2:hover {
    background-color: whitesmoke;
    transition: opacity 0.3s ease-out;
    background-image: none;
}

.efecto1:hover .info {
    opacity: 1;
}

.efecto2:hover .info {
    opacity: 1;
}

.efecto1 .efecto2 h2 {
    text-align: left;
    max-width: 35%;
    font-weight: 500;
    white-space: nowrap;
}

.volver {
    background-color: whitesmoke;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

footer {
    background-color: #E9E9E9;
    text-align: center;
    font-size: 1rem;
}

#contacto ul {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#contacto li {
    display: flex;
    align-content: center;
    gap: 5px;
}

#contacto p {
    padding-bottom: 20px;
}